# General C++ exclusion
*.o
*.so

# General Python exclusion
*.pyc
__init__.py

# Swap files
*.swp

# General data file exclusions
core*
*.txt
*.root
*.log
temp
*.tmp
log*
*.gz
*.zip
*.tgz
*.eps
*.png
*.dat
*.pdf
*.db

Tnp_2017_data_crab
wrong_Tnp_2017_data_crab
crab_config
# Specific file exclusion
# [relative/path/to/file]
.remote-sync.json
LimitCalc/.*.sh

# Specific file inclusion
# ![relative/path/to/file]
